
<div class="row">
    <h3 class="text-primary p-2">GrandChild</h3>
    <p> GRANDCHILD message = @MessageForGChild</p>
    <p>@LuckyNumberFromParent</p>
</div>

@code {
    [CascadingParameter(Name = "MessageForGrandChild")]
    public string MessageForGChild { get; set; }

    [CascadingParameter(Name="LuckyNumber")]
    public int LuckyNumberFromParent { get; set; }
}

