@page "/demohotel"
@using Model

<section>
    <h2>Room List</h2>
    <span>Rooms Selected = @SelectedRooms</span>
    @foreach (var room in _roomsList)
    {

        <RoomUnit Room="room" OnRoomSelection="RoomSelectionCounterChanged"/>
   
    }
    
    <h3>Room Amenities</h3>
    
    @foreach (var amenity in _amenitiesList)
    {
        <RoomAmenity Amenities="@amenity" OnAmenitySelect="AmenitySelectChange">
            <AmenityFragmentFirst>#1</AmenityFragmentFirst>
            <AmenityFragmentSecond>#2</AmenityFragmentSecond>
        </RoomAmenity>
    }
    
    <p>@SelectedAmenity</p>

</section>





@code {

    public int SelectedRooms { get; set; }
    public string SelectedAmenity { get; set; }
    List<Room> _roomsList = new List<Room>();
    List<RoomAmenities> _amenitiesList = new List<RoomAmenities>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _roomsList.Add(new Room()
        {
            Id = 201,
            RoomName = "Villa Suite One Bed Room",
            Price = 599,
            IsBooked= true,
            RoomProps = new List<RoomProp>
            {
                new RoomProp
                {
                    Id = 1,
                    Name = "Sq Ft",
                    Value="400"
                },
                new RoomProp
                {
                    Id = 2,
                    Name = "Occupancy",
                    Value="6"
                },  
                new RoomProp
                {
                    Id = 3,
                    Name = "King Size Bed",
                    Value="Yes"
                }

            }
        }); 
        
        _roomsList.Add(new Room()
        {
            Id = 202,
            RoomName = "Villa Suite Two Bed Room",
            Price = 499,
            IsBooked= true,
            RoomProps = new List<RoomProp>
            {
                new RoomProp
                {
                    Id = 1,
                    Name = "Sq Ft",
                    Value="100"
                },
                new RoomProp
                {
                    Id = 2,
                    Name = "Occupancy",
                    Value="3"
                },  
                new RoomProp
                {
                    Id = 3,
                    Name = "King Size Bed",
                    Value="Yes"
                }

            }
        });

        _amenitiesList.Add(new RoomAmenities
        {
            Id=111,
            Name="Pool",
            Description="Outdoor Pool open year round."
        });
        _amenitiesList.Add(new RoomAmenities
        {
            Id=222,
            Name="Free Breakfast",
            Description="Breakfast Buffet every morning."
        });
        _amenitiesList.Add(new RoomAmenities
        {
            Id=111,
            Name="Rooftop Bar",
            Description="Best views in the city.  Open only during summer."
        });
    }

    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }

    protected void AmenitySelectChange(string amenity)
    {
        SelectedAmenity = amenity;
    }

}
