@page "/parentchild"
@inject IJSRuntime JsRuntime
@using System.Net.Mime


<h3 class="text-danger">Parent - Child</h3>
<CascadingValue Value="@MessageForGChild" Name="MessageForGrandChild">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">

        <ChildComponent @ref="childComp" Title="Title passed from the parent component..."
                        OnClickBtnMethod="ShowMessage">

            <ChildContent>
                Render Fragment from Parent
            </ChildContent>
            <DangerChildContent>
                Render Fragment from Parent
            </DangerChildContent>
        </ChildComponent>
    </CascadingValue>
</CascadingValue>
<NewChildComponent 
    placeholder="Placeholder from Component"
/>
@*<ChildComponent Title="Second Instance of the Parent...">
        New renderFragment..........
    </ChildComponent>
    <ChildComponent Title="THIRD instance of the Parent Component...">
    </ChildComponent><ChildComponent Title="THIRD instance of the Parent Component...">
        Yet Another render fragment........................
    </ChildComponent>*@
<p><b>@messageText</b></p>

<div class="bg-info p-5">
    <button class="btn btn-dark" @onclick="() => childComp.ShowToastrSuccessChild()">Toast Me</button>
</div>

@code {

    private ChildComponent childComp;
    public int LuckyNumber = 7;
    private string MessageForGChild = "MESSAGE FOR GC FROM PARENT COMPONENT";
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Text FROM PARENT, TRIGGERED By CLICK EVENT IN CHILD";
    }

    //[Parameter]
    //public Dictionary<string, object> InputAttributesParent { get; set; } = new Dictionary<string, object>()
    //{
    //    { "required", "required" },
    //    { "placeholder", "PARENT PLACEHOLDER" },
    //    { "maxlength", 2 }
    //};


}
